includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php
#        - /home/jwm/.config/composer/vendor/autoload.php
    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/dev/srcApp_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: config/object-manager.php

    level: 4
    paths:
        - src
        - vendor/erpbootstrap/

#    ignoreErrors:
#        - '#Call to an undefined method Doctrine\\ORM\\EntityRepository<[^>]+>::[a-zA-Z0-9_]+\(\)#'
#        - '#PHPDoc tag @throws with type [a-zA-Z0-9\\_]+ is not subtype of Throwable#'

    excludes_analyse:
        - */Migration/*.php
        - */Seed/*.php
        - insproject/lib/
        - tests/
        - vendor/

