includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php
    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/dev/srcApp_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: config/object-manager.php

    level: 4
    paths:
        - src
        - vendor/erpbootstrap/

    excludes_analyse:
        - */Migration/*.php
        - */Seed/*.php
        - insproject/lib/
        - tests/
        - vendor/

