.sidebar {
  margin: 0;
  padding: 0;
  width: 33%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1;
  top: 0;
  left: 0;
}

.card{
    max-width: 100%;
}

.card-text{
  word-wrap: break-word;
}

.card-tweet {
}

.card-header-tweet {
    background-color: #4879E4;
    color: #fff;
}

.card-header-tweet button {
    color: #fff;
}

.card-body-tweet {
  overflow-x: auto;
}
